{% extends 'base.html.twig' %}

{% set __title = 'Estadísticas del equipo' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('highcharts.4.2.4/js/highcharts.js') }}"></script>
    <script src="{{ asset('socket.io/socket.io-1.4.5.js') }}"></script>

    <script type="application/javascript" language="JavaScript">

        var chart;

        function cargarDatos(){

            var socket = io('64.37.55.176:5140/tr-sai280');

            socket.on('tiempo_real', function (data){

                for (clave in data) {


                    var punto = data[clave].field1.split(" ");

                    var anemometro_serie = chart.series[0], shift_anm   = anemometro_serie.data.length > 10000;  // shift if the series is longer than 20
                    var aparejo_serie    = chart.series[1], shift_apa   = aparejo_serie.data.length > 10000;  // shift if the series is longer than 20
                    var llave_serie      = chart.series[2], shift_llave = llave_serie.data.length > 10000; // shift if the series is longer than 20
                    var boca_pozo_serie  = chart.series[3], shift_bp    = boca_pozo_serie.data.length > 10000; // shift if the series is longer than 20

                    //hay que multiplicar por 1000 el unixtimestamp
                    var tiempo     = parseFloat(punto[0])*1000;
                    var anemometro = parseFloat(punto[1]);
                    var aparejo    = parseFloat(punto[2]);
                    var llave      = parseFloat(punto[3]);
                    var boca_pozo  = parseFloat(punto[4]);

                    anemometro_serie.addPoint([tiempo, anemometro], false, shift_anm);
                    aparejo_serie.addPoint([tiempo, aparejo],false, shift_apa);
                    llave_serie.addPoint([tiempo, llave],false,shift_llave);
                    boca_pozo_serie.addPoint([tiempo, boca_pozo],false,shift_bp);
                }



                chart.redraw();

            });


        }



        $(document).ready(function () {

            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            $('#historico').highcharts({
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: ''
                },
                credits: {
                    enabled: false
                },
                xAxis: [{
//                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
//                        'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    crosshair: true
                }],
                yAxis: [
                    { // Secondary yAxis
                        gridLineWidth: 0,
                        title: {
                            text: 'Anemómetro (km/h)',
                            style: {
                                color: '#D8D8D8'
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: '#D8D8D8'
                            }
                        }

                    }, { // Primary yAxis
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        title: {
                            text: 'Aparejo (klb)',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        }

                    }, { // Tertiary yAxis
                        gridLineWidth: 0,
                        title: {
                            text: 'Presión (psi)',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        opposite: true
                    }
                ],
                tooltip: {
                    shared: true
                },
                /*legend: {
                 layout: 'vertical',
                 align: 'left',
                 x: 80,
                 verticalAlign: 'top',
                 y: 0,
                 floating: true,
                 backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                 },*/
                series: [
                    {
                        name: 'Anemómetro',
                        type: 'spline',
                        dashStyle: 'Dot',
                        color: '#D8D8D8',
                        yAxis: 0,
                        data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
                        tooltip: {
                            valueSuffix: ' km/h'
                        }
                    }, {
                        name: 'Aparejo',
                        type: 'spline',
                        color: Highcharts.getOptions().colors[1],
                        yAxis: 1,
                        data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 50, 13.9, 9.6],
                        tooltip: {
                            valueSuffix: ' klb'
                        }
                    }, {

                        name: 'Llave',
                        type: 'spline',
                        yAxis: 2,
                        data: [1416, 1216, 915.9, 1015.5, 812.3, 1309.5, 1109.6, 1910.2, 1013.1, 1616.9, 1218.2, 1016.7],
                        marker: {
                            enabled: false
                        },
                        color: Highcharts.getOptions().colors[2],
                        dashStyle: 'spline',
                        tooltip: {
                            valueSuffix: ' psi'
                        }

                    }, {
                        name: 'Boca Pozo',
                        type: 'spline',
                        yAxis: 2,
                        data: [1400.0, 1000.9, 1900.5, 1750.5, 1800.2, 900.5, 784.2, 1260.5, 1736.3, 1000.3, 1350.9, 920.6],
                        tooltip: {
                            valueSuffix: ' psi'
                        }
                    }
                ]
            });

            chart = new Highcharts.Chart({
                chart: {
                    zoomType: 'xy',
                    renderTo: 'en-vivo',
                    events: {
                        load: cargarDatos
                    }
                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: ''
                },
                credits: {
                    enabled: false
                },
                xAxis: [{
                    crosshair: true,
                    labels: {
                        rotation: -45
                    },
//                    tickPixelInterval: 150,
//                    maxZoom: 20 * 1000,
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        millisecond: '%H:%M:%S',
                    }

                }],
                yAxis: [
                    { // Secondary yAxis
                        gridLineWidth: 0,
                        title: {
                            text: 'Anemómetro (km/h)',
                            style: {
                                color: '#D8D8D8'
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: '#D8D8D8'
                            }
                        }

                    }, { // Primary yAxis
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        title: {
                            text: 'Aparejo (klb)',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        }

                    }, { // Tertiary yAxis
                        gridLineWidth: 0,
                        title: {
                            text: 'Presión (psi)',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        opposite: true
                    }
                ],
                tooltip: {
                    shared: true
                },
                /*legend: {
                 layout: 'vertical',
                 align: 'left',
                 x: 80,
                 verticalAlign: 'top',
                 y: 0,
                 floating: true,
                 backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                 },*/
                series: [
                    {
                        name: 'Anemómetro',
                        type: 'spline',
                        yAxis: 0,
                        dashStyle: 'Dot',
                        color: '#D8D8D8',
                        tooltip: {
                            valueSuffix: ' km/h'
                        }
                    }, {
                        name: 'Aparejo',
                        type: 'spline',
                        color: Highcharts.getOptions().colors[1],
                        yAxis: 1,
                        tooltip: {
                            valueSuffix: ' klb'
                        }
                    }, {

                        name: 'Llave',
                        type: 'spline',
                        color: Highcharts.getOptions().colors[2],
                        yAxis: 2,
                        tooltip: {
                            valueSuffix: ' psi'
                        }

                    }, {
                        name: 'Boca Pozo',
                        type: 'spline',
                        yAxis: 2,
                        tooltip: {
                            valueSuffix: ' psi'
                        }
                    }
                ]
            });
        });

    </script>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <!-- AREA CHART -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Histórico del Pozo</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="historico" style="width:100%; height:300px;"></div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.row -->


        <div class="col-md-12">
            <!-- LINE CHART -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Tiempo Real</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <div id="en-vivo" style="width:100%; height:400px;"></div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
{% endblock %}